.emulate-pdf { background: #666; padding: 20px 0; overflow-y: scroll; }
.emulate-pdf .container { border: 1px solid #000; margin: 0 auto; min-height: 891px; }

.container { background: #FFF; font-size: 10px; } 

p { margin: 0 0 12px; text-align: justify; }

.img-responsive { width: 100%; height: auto; }

.pull-right { float: right; }

.badge { font-size: 90%; font-weight: bold; border-radius: 8px; padding: 0px 5px; color:#844e32!important }

.row { overflow: hidden; margin-bottom: 15px; }
.row > * { float: left; }
.row > * > *:last-child { margin-bottom: 0; }
.row .col-50 { width: 49%; margin-left: 2%; }
.row .col-33 { width: 28%; margin-left: 5%; }
.row .col-66 { width: 64%; margin-left: 2%; }

.row .col-50:first-child,
.row .col-33:first-child { margin: 0; }

.list-item { overflow: hidden; margin-bottom: 5px; }

.header { padding: 10px 15px; }
.header > * { vertical-align: top;  }
.header .logo { height: 30px; margin-right: 5px; }
.header h1 { margin: 0; display: inline-block; font-size: 22px; text-align:center}

.content { padding: 10px 15px; }
.content .title-document { margin: 0 0 15px; font-size: 18px; }
.content h3 { margin: 0 0 2px; font-size: 10px;height:22px}
.content > *:last-child { margin-bottom: 0; }

.footer { padding: 10px 15px; }
.footer > *:last-child { margin-bottom: 0; }
.footer .metadatas { font-size: 90%; }

.break-before {
    page-break-before: always;
}
