/* Paramétrages des couleurs */
.primary { color: #cb5817 !important; }
.bg-primary, .ol-zoom button { background-color: #cb5817 !important; }
.bg-primary, .bg-primary:hover, .bg-primary a, .ol-zoom button { color: #FFF !important; }
.border-primary { border-color: #7c350d !important; }

.secondary { color: #285e8e !important; }
.bg_secondary { background-color: #285e8e !important; }
.bg_secondary, .bg_secondary:hover { color: #FFF !important; }
.border_secondary { border-color: #285e8e !important; }

.btn { white-space: inherit; }

.btn-primary { background: #cb5817; border-color:  #7c350d; color: #FFF; }
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active { background: #7c350d; border-color:  #7c350d; color: #FFF; }

.btn-secondary { background: #00c8e4; border-color:  #03acc4; color: #FFF; }
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active { background: #03acc4; border-color:  #03acc4; color: #FFF; }

.btn-tertiary { background: #dadd1a; border-color:  #babd0a; color: #FFF; }
.btn-tertiary:hover,
.btn-tertiary:focus,
.btn-tertiary:active { background: #babd0a; border-color:  #babd0a; color: #FFF; }

.alert-success { background: #00c8e4; border-color:  #03acc4; color: #FFF; }

/*****************************/

.pb5 { padding-bottom: 5px !important; }

body { padding: 0; margin: 0; position: relative; overflow: hidden; font-family: 'Noto Sans', sans-serif; }
h1, h2, h3, h4, h5, h6, .navbar-brand { font-family: 'PT Sans Narrow', sans-serif; }

.badge { font-family: 'Noto Sans', sans-serif; color:#844e32}
.badge-empty { width: 20px; display: block !important; height: 18px; }
.badge-primary { background: #428bca; color: #FFF; }
.badge-success { background: #5cb85c; color: #FFF; }
.badge-danger { background: #d9534f; color: #FFF; }
.badge-warning { background: #f0ad4e; color: #FFF; }
.badge-info { background: #5bc0de; color: #FFF; }
.badge-default { background: #DDD; color: #000; }
.badge-pink {background: #f76397; color: #FFF;  }
.badge-black { background: #000; color: #FFF; }
.badge-yellow { background: #ff0; color: #000; }

button.close { opacity: 0.4; background: rgba(255,255,255,0.5); color: #000; border-radius: 50%; width: 22px; height: 22px; }
.modal-header .close { margin-top: 1px; }

::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { background-color: #eee; }
::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, 0.2); }
::-webkit-scrollbar-button { height: 0; display: none; }
::-webkit-scrollbar-corner { background-color: black; } 

.navbar-default { margin: 0; border-radius: 0; border: 0; border-bottom: 1px solid #0395a8; }
body.sidebar-active .navbar-default,
body.sidebar-active #map { margin-left: 320px; }

.navbar-default .navbar-nav li a { font-size: 20px; padding: 18px; }
.navbar-default .navbar-nav li a:hover { color: #EEE; }

.navbar-default .navbar-brand { height: auto; padding: 17px 15px 17px 8px; font-size: 24px; }
.navbar-default .navbar-brand img { max-height: 40px; margin-right: 4px; }

.navbar-default .navbar-nav.navbar-right:last-child { margin-right: 0; }

/* MENU - NAVIGATION TOOGLE */
.navigation-toggle-icon {
  position: relative; display: block; width: 26px; height: 20px; top: 0; left: 0;
  opacity: 1; -moz-opacity: 1; -webkit-opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 1; }
.navigation-toggle-bars {
  position: absolute; width: 32px; height: 2px; left: 0;
  -webkit-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #FFF; }
.navigation-toggle-bars:nth-of-type(1) { width: 20px; top: 0; }
.navigation-toggle-bars:nth-of-type(2) { top: -webkit-calc(50% - 1.5px); top: calc(50% - 1.5px); }
.navigation-toggle-bars:nth-of-type(3) { width: 20px; bottom: 0; }
.navigation-toggle {
  position: fixed; margin-top: 50px; right: 50px; padding: 0; border: none; background: none; outline: none;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  z-index: 200; }
#sidebarCollapse:hover .navigation-toggle-bars { width: 100%; }
.navigation-toggle-closer .navigation-toggle-bars { width: 26px; height: 2px; }
.navigation-toggle-closer .navigation-toggle-bars:nth-of-type(1) {
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%); }
.navigation-toggle-closer .navigation-toggle-bars:nth-of-type(2) {
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
.navigation-toggle-closer .navigation-toggle-bars:nth-of-type(3) {
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%); }
body.sidebar-active .navigation-toggle .navigation-toggle-bars { background: #FFF; }

#sidebar { position: fixed;	min-width: 320px; max-width: 320px; top: 0;	bottom: 0; left: -320px; background: #FFF; border-right: 1px solid #DDD; overflow-y: auto; }
#sidebar.active { left: 0; }
#sidebar .sidebar-header { padding: 11px 15px; border-bottom: 1px solid #DDD; }
#sidebar .sidebar-header .sidebar-title { margin: 0; font-size: 20px }
#sidebar .sidebar-header .coordinates { color: #000; font-size: 11px; line-height: 1.1; }
#sidebar .sidebar-content { padding: 15px; }
#sidebar .sidebar-content > *:last-child { margin-bottom: 0; }
  
#sidebar section { margin-bottom: 25px; }
#sidebar section .section-title { margin: 0; font-weight: bold; font-size: 16px; line-height: 18px; }
#sidebar section > *:last-child { margin-bottom: 0; }

#sidebar ul { padding-left: 0; list-style: none; }
#sidebar ul.list-unstyled { padding-left: 0; }
#sidebar ul li { padding: 2px 0; }
#sidebar ul li .badge { margin: 1px 0; }

.sidebar-active #sidebarCollapse { display: block !important; }

.modal .modal-content { border-radius: 0; }

.checkbox label .badge { margin: 7px 0 0 8px; }

#map { width: 100%; height: 100%; }
#map #alertInfoNavigation { position: absolute; top: 70px; right: 15px; z-index: 99; max-width:500px; }
#map #alertScale { position: absolute; bottom: 70px; left: 3px; z-index: 99; font-size : 10px; background-color:#cb5817 !important;border-color:#7c350d !important; }
 
a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.checkbox { margin-bottom: 0; }
.radio label, .checkbox label { display: block; padding-left: 0; }
.checkbox label .toggle, .checkbox-inline .toggle { float: right; margin-left: 10px; margin-right: 0; max-width: 45px; }

@media (max-width: 990px) {
  
}

@media (min-width: 400px) {
  .sidebar-active #sidebarCollapse,
  .sidebar-active #search { display: block; }
}

@media (min-width: 460px) {
  .sidebar-active #sidebarCollapse,
  .sidebar-active #search,
  .sidebar-active #legend { display: block; }
}

@media (min-width: 991px) {
  .sidebar-active #sidebarCollapse { display: none; }
}

@media (max-width: 768px) {
  .navbar-nav { margin: 0; }
  .navbar-nav.navbar-left { float: left; }
  .navbar-nav.navbar-right { float: right; }
  .navbar-header { float: left; }
  .navbar-brand .text { display: none; }
  .nav > li { float: left; }
  
  .sidebar-active .navbar-nav li a,
  .sidebar-active .navbar-brand { display: none; }
  .sidebar-active #sidebarCollapse { display: block; }

  #sidebar { min-width: calc( 100% - 62px ); max-width: calc( 100% - 62px ); }
  body.sidebar-active #map,
  body.sidebar-active .navbar-default { margin-left: calc( 100% - 62px ); }
}

.PRODIGEAPI_BICOLUMN {
  width : 50%;
  float : left;
  height : 100%;
}
.PRODIGEAPI_BICOLUMN > div{
  width : 100%;
  height : 100%;
}

.prodigeapi-onecolumn{
  width : 100%;
  height : 100%;
}

.nopadding {
  padding: 0 ;
  margin: 0;
}

.PRODIGEAPI_SCALE{
  bottom : 70px;
  left : 0px;
  background-color: #cb5817 !important;
}

#OpenLayers_Control_NavToolbar_5{
  display:none;
}