<div class="col-50">
  <h3>%TILTE%</h3>
  <div class="row">
    <div class="col-66">
      <img src="https://via.placeholder.com/200x200" id="%ID%" class="img-responsive" />
    </div><!-- /.col -->

    <div class="col-33" id="%ID-BADGE%" >
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.col -->