@CHARSET "UTF-8";
.cmnLayerTreeLayerNodeIcon {
  background-repeat: no-repeat;
  background-position: 0 center;
  height: 10px !important;
  margin: 0px !important;
  padding: 2px 2px 2px 2px !important;
  vertical-align: baseline !important;
  width: 20px !important;
}

.PRODIGEAPI_MAP{
  position : relative;
}

.PRODIGEAPI_LEGEND{
  overflow:auto;
}
ul.prodigetreenode{
  list-style : none;
  font: normal 12px arial,tahoma,helvetica,sans-serif;
}
li.prodigetreenode{
  padding-left -5px;
  list-style : none;
  font: normal 12px arial,tahoma,helvetica,sans-serif;
}
li.prodigetreenode.disabled{
  display : none !important;
}
li.prodigetreenode.hidden{
  display : none !important;
}

li.prodigetreenode .fa {
  margin-right : 5px;
  width : 10px;
}
li.prodigetreenode.leaf .layerlegenditem {
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left : 25px;
}
li.prodigetreenode.leaf .layerlegenditem.multiple {
  margin-left : 10px;
}
li.prodigetreenode.leaf::before {
  content: " ";
}
li.prodigetreenode.leaf .fa {
  display : none;
}
li.prodigetreenode.expanded .fa-angle-right{
  display : none;
}
li.prodigetreenode.collapsed .fa-angle-down{
  display : none;
}
ul.prodigetreenode-childNodes.collapsed{
  display : block;
}

.prodigeControlNavToolbar {
  margin-top : 5px;
  margin-left : 5px;
}
.olButton .fa {
  padding: 2px;
}
.olButton {
  margin: 2px;
  text-align: center;
}
.olButton {
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
  border-style: solid;
  border-width: 0px;
  padding: 3px;
  box-shadow: none!important;
}
.prodigeKeymap.olControlOverviewMapElement {
  padding : 0px !important;
}
.olImageLoadError {
  display : none;
}


/*PERSONNALISABLE*/
.PRODIGEAPI_BICOLUMN > div{
  border : 1px solid #007099;
}
.PRODIGEAPI_LEGEND ul{
  padding-left: 20px;
}
.PRODIGEAPI_LEGEND > ul{
  padding-left: 5px;
}
.PRODIGEAPI_LEGEND li{
  white-space : nowrap;
}

.prodigeKeymap.olControlOverviewMap{
  top : 0%;
}
.prodigeKeymap.olControlOverviewMapElement {
  border:1px solid #e0e0e0;
  background-color:#ffffff;
  opacity : 0.57;
}
.prodigeKeymap.olButton{
  background-color: #007099;
  display: none; /*hismail*/
  top : 0px;
}
.olControlAttributionCarmen {
  position:absolute;
  display: none !important; /*hismail*/
  bottom : 5px;
  left : 5px;
}
.prodigeControlNavToolbar {
  background-color:#f0f0f0;
}
.prodigeControlNavToolbar .fa {
  font-size: 1.5em;
}
.olButton {
  border-color: #a0a0a0;
  color: #ffffff;
}

.prodigeControlNavToolbar .olButton.ItemInactive {
  background-color: #c0c0c0;
}

.prodigeControlNavToolbar .olButton.ItemActive {
  background-color: #007099;
}